*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    background-color: #ff914d;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90px;
}

#logo{
    height: 80px;
    width: 80px;
    border: 1px solid white;
    margin: 5px;
}

@media screen and (min-device-width: 769px){
    #botao-mobile{
        display: none;
        width: 100px;
        height: 100px;
    }
    
    #menu{
        display: flex;
        list-style: none;
        gap: 1rem;
    }
    
    #menu a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        margin-right: 20px;
    }
    
    #menu a:hover{
        opacity: 70%;
    }
}

@media screen and (max-device-width:768px){
    #botao-mobile{
        height: 100px;
        width: 100px;
        justify-self: end;
    }

    #botao-mobile:hover{
        opacity: 70%;
    }
    
    #menu{
        display: flex;
        list-style: none;
        gap: 1rem;
    }
    
    #menu a{
        display: none;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        margin-right: 20px;
    }
    
    #menu a:hover{
        opacity: 70%;
    }
}