* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: #ff914d;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vh;
    /* width: 100vw;
    height: 90px; */
}

#logo {
    width: 15vh;

    /* height: 80px;
    width: 80px;
    border: 1px solid white;
    margin: 5px; */
}

#menu {
    font-size: small;
}

@media screen and (min-device-width: 769px) {

    #botao-mobile {
        display: none;
        width: 100px;
        height: 100px;
    }

    #nav-desktop {
        display: block;
    }

    #menu {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    #menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        margin-right: 20px;
    }

    #menu a:hover {
        opacity: 70%;
    }
}

@media screen and (max-device-width:768px) {
    #botao-mobile {
        display: block;
        width: 100px;
        height: 100px;
    }

    #nav-desktop {
        display: none;
    }

    #menu {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    #menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        margin-right: 20px;
    }

    #menu a:hover {
        opacity: 70%;
    }
}